<!--jquery and pjax-->
<script src="//unpkg.com/jquery/dist/jquery.js"></script>
<script src="//unpkg.com/jquery-pjax/jquery.pjax.js"></script>

<!-- nprogress -->
<script src="//unpkg.com/nprogress/nprogress.js"></script>
<link rel="stylesheet" href="//unpkg.com/nprogress/nprogress.css">

<!-- fontawesome -->
<script src="//unpkg.com/@fortawesome/fontawesome-free/js/fontawesome.js"></script>
<link rel="stylesheet" href="//unpkg.com/@fortawesome/fontawesome-free/css/all.css">

<!-- glidejs -->
<link rel="stylesheet" href="//unpkg.com/glidejs/dist/css/glide.core.css">
<link rel="stylesheet" href="//unpkg.com/glidejs/dist/css/glide.theme.css">
<script src="//unpkg.com/glidejs/dist/glide.js"></script>

<!-- Highlight -->
<link rel="stylesheet" href="//unpkg.com/highlightjs/styles/androidstudio.css">
<script src="//unpkg.com/highlightjs/highlight.pack.min.js"></script>
<script>hljs.highlightAll();</script>

<!-- Hls -->
<script src="//unpkg.com/hls.js/dist/hls.js"></script>

<!-- require APlayer -->
<link rel="stylesheet" href="//unpkg.com/aplayer/dist/APlayer.min.css">
<script src="//unpkg.com/aplayer/dist/APlayer.min.js"></script>
<style>
.aplayer.aplayer-fixed .aplayer-lrc {
   text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000 !important;
}
.aplayer .aplayer-lrc p{
   color: white !important;
   mix-blend-mode: difference !important;
}
</style>

<!-- require MetingJS -->
{% if site.meting.api %}
<script>
var meting_api='{{site.meting.api}}';
</script>
{% endif %}
<script src="//unpkg.com/meting/dist/Meting.min.js"></script>

<!-- 一言 -->
<script src="//v1.hitokoto.cn/?c=a&encode=js&select=%23hitokoto" defer></script>

<!--Animate.css-->
<link rel="stylesheet" href="https://unpkg.com/animate.css/animate.css">

<script async src="/js/main.js"></script>