<header class="panel-cover {% if page.layout == 'post' or page.layout == 'page' %}panel-cover--collapsed{% endif %}" style="background-image: url('{{site.background}}')">
  <div class="panel-main">
    <div class="panel-main__inner">
      <div>
  <meting-js
  preload="ture"
  fixed="ture"
  server="{{site.meting.server}}"
  type="{{site.meting.type}}"
  id="{{site.meting.id}}"
  theme="#{{site.meting.theme}}"
  >
</meting-js>
{% if site.aplayer.autohide == ture %}
<style type="text/css">

  .aplayer.aplayer-narrow .aplayer-body {
    left: -66px !important;
}
.aplayer-body:hover {
    left: 0px !important;
}
.aplayer.aplayer-fixed .aplayer-lrc {
    color: white !important;
    mix-blend-mode: difference !important;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}


</style>
{% endif %}
  </div>
    <div class="panel-main__content panel-inverted">
        <!-- 头像效果-start -->
        <div class="ih-item circle effect right_to_left">            
            <a href="/#blog" title="前往 {{ site.title }} 的主页" class="blog-button">
                <div class="img"><img src="/images/avatar.jpg" alt="img"></div>
                <div class="info">
                    <div class="info-back">
                        <h2> 
                            {% if site.avatarTitle %}
                                {{site.avatarTitle}}
                            {% endif %}
                        </h2>
                        <p>
                           {% if site.avatarDesc %}
                                {{site.avatarDesc}}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <!-- 头像效果-end -->
        <h1 class="panel-cover__title panel-title"><a href="/#blog" title="link to homepage for {{ site.title }}" class="blog-button">{{ site.title }}</a></h1>
        {% if site.subtitle %}
        <span class="panel-cover__subtitle panel-subtitle">{{site.subtitle}}</span>
        {% endif %}
        <hr class="panel-cover__divider" />
        <p class="panel-cover__description">{{ site.description }}</p>
        <br>
        <br>
        <div class="panel-cover__hitokoto">中二语录:</div><p id="hitokoto" class="panel-cover__hitokoto"><a href="#" id="hitokoto_text">废话加载中...</a></p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />
        
        {% if site.welcome_message %}
        <p class="panel-cover__description">{{ site.welcome_message }}</p>
        {% endif %}
        

        <div class="navigation-wrapper">
          <div>
            <nav class="cover-navigation cover-navigation--primary">
              <ul class="navigation">
                <li class="navigation__item"><a href="/#blog" title="{{site.blog_button.description}}" class="blog-button">{{site.blog_button.title}}</a></li>
                {% for item in site.nav %}
                  <li class="navigation__item"><a href="{{item.url}}" title="{{item.description}}"  class="menu">{{item.title}}</a></li>
                {% endfor %}
              </ul>
            </nav>
          </div>          
        </div>


        </div>
      </div>
    </div>
    
    {% if site.cover_color %}
    <div class="cover-{{site.cover_color}}"></div>
    {% else %}
    <div class="cover-disabled"></div>
    {% endif %}
  </div>
</header>
