<header class="panel-cover darkmode-ignore">
  <div class="panel-main">
    <div class="panel-main__inner">
    <div class="panel-main__content panel-inverted">
        <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        <hr class="panel-cover__divider"/>
        <div class="panel-cover__hitokoto">
            <div id="hitokoto_text">废话加载中...</div>
            <div id="hitokoto_author"></div>
        </div>
        {% if site.welcome_message %}
        <p class="panel-cover__description">{{ site.welcome_message }}</p>
        {% endif %}
      </div>
    </div>
  </div>
{% if site.cover_color %}
<div class="cover-{{site.cover_color}}"></div>
{% else %}
<div class="cover-disabled"></div>
{% endif %}
</div>
</header>
