<header class="panel-cover darkmode-ignore" style="background-image: url('{{site.background}}')">
  <div class="panel-main">
    <div class="panel-main__inner">
        <meting-js
        preload="ture"
        fixed="ture"
        server="{{site.meting.server}}"
        type="{{site.meting.type}}"
        id="{{site.meting.id}}"
        theme="#{{site.meting.theme}}">
        </meting-js>
{% if site.meting.autohide %}
<style type="text/css">

.aplayer.aplayer-narrow .aplayer-body {
    left: -66px !important;
}
.aplayer-body:hover {
    left: 0px !important;
}
</style>
{% endif %}
    <div class="panel-main__content panel-inverted">
        <h1 class="panel-cover__title panel-title"><a href="/" title="link to homepage for {{ site.title }}" class="blog-button">{{ site.title }}</a></h1>
        <hr class="panel-cover__divider" />
        <div class="panel-cover__hitokoto">
            <div id="hitokoto_text">废话加载中...</div>
            <div id="hitokoto_author"></div>
        </div>
        {% if site.welcome_message %}
        <p class="panel-cover__description">{{ site.welcome_message }}</p>
        {% endif %}
      </div>
    </div>
  </div>
{% if site.cover_color %}
<div class="cover-{{site.cover_color}}"></div>
{% else %}
<div class="cover-disabled"></div>
{% endif %}
</div>
</header>
